.upg {
	min-height: 120px;
	width: 120px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.achievement {
	min-height: 90px;
	width: 90px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	color: white;
	text-shadow: 0 0 2px #000000;
}

.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
}

.buyable {
	min-height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	position: relative;
}

.milestone {
	width: 100%;
	min-width: 120px;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	background-color: var(--locked);
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.milestone.done {
	background-color: #77bf5f;
}

.challenge {
	position: relative;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	min-height: 300px;
	font-size: 15px;
	border-radius: 33.33333333333333%;
}

.challenge.done {
	background-color: #77bf5f;
}

.challenge.canComplete {
	background-color: #ffbf00;
}

/* Infoboxes */
.story {
	width: 600px;
	max-width: 95%;
	border-bottom: solid 4px;
	border-radius: 8px;
	margin-bottom: 8px;
	text-align: left;
}

.story-title {
	text-align: left;
	font-size: 24px;
	color: black;
	cursor: pointer;
	border: none;
	padding: 0 4px;
}

.story-toggle {
	display: inline-block;
	background: black;
	color: white;
	font-size: 20px;
	pointer-events: none;
	width: 1em;
	margin: 4px 4px 0 0;
}

.story-text {
	padding: 2px;
	border: solid 4px;
	border-color: inherit;
	border-radius: inherit;
	border-top-left-radius: 0;
	margin-bottom: -2px;
}

/* Tiles are gridables */
.tile {
	min-height: 80px;
	width: 80px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1);
	z-index: 7;
}

.upgBig {
	min-height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

/* Used for respec button and similar */
.longUpg {
	min-height: 50px;
	width: 120px;
	background: var(--points);
	border-radius: 50%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
}

.smallUpg {
	min-height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}
