/* Prestige button */
.reset {
	min-height: 120px;
	width: 180px;
	border-radius: 25%;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.tabButton {
	background-color: transparent;
	color: var(--color);
	font-size: 20px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid;
	color: var(--color);
}

.tabButton:hover {
	transform: scale(1.1);
	text-shadow: 0 0 7px var(--color);
}

.stackingContext {
	display: inline-block;
	position: relative;
}

.tooltip {
	pointer-events: none;
	text-align: center;
	width: 150px;
	font-size: 16px;
	line-height: 1.2;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	transform: translateX(-50%);
	padding: 7px;
	font-family: "Lucida Console", "Courier New", monospace;
	border-radius: 3px;
	opacity: 0;
	transition: opacity 0.5s;
	position: absolute;
	z-index: 20000;
	background-color: var(--tooltipBackground);
	color: var(--points);
	content: attr(tooltip);
	font-size: 14px;
}

.tooltip::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--tooltipBackground) transparent transparent transparent;
}

.branches {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
}

.can:hover>.branches {
	transform: scale(0.8695652173913044); /* 1/1.15 */
}

.branch {
	transition-duration: 0s;
	position: absolute;
}

/* Horizontal/vertical lines */
.vl {
	box-sizing: border-box;
	border-left: 3px solid var(--color);
	height: 100%;
}

.hl {
	box-sizing: border-box;
	border-top: 3px solid var(--color);
	width: 100%;
}
