* {
	transition-duration: 0.5s;
	text-align: center;
	font-family: Inconsolata, monospace;
	font-weight: bold;
	margin: auto;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

:focus {
	outline: none;
}

html, body {
	min-height: 100%;
	height: 100%;
}

td {
	padding: 0;
}

.upgCol, .upgRow {
	display: flex !important;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.upgCol {
	flex-flow: column wrap;
}

.upgRow {
	flex-flow: row wrap;
}

.treeThing {
	margin: 0 10px 0 10px;
	vertical-align: middle;
}

.can.upg:hover, .can.buyable:hover {
	z-index: 2;
}

.back {
	position: absolute;
	top: 0;
	left: 10px;
	background: none;
	border: none;
	color: var(--color);
	font-size: 40px;
	cursor: pointer;
}

.big.back {
	left: 60px;
	font-size: 60px;
}

.back:hover {
	transform: scale(1.1);
	text-shadow: 0 0 7px var(--color);
}

.hidden {
	visibility: hidden;
	height: 50px !important;
}

.canvas {
	top: 0;
	left: 0;
	position: absolute;
	z-index: -999;
}

.left {
	position: absolute;
	left: 0;
}

.col {
	width: calc(50% - 3px);
	min-height: 100%;
	height: 100%;
	column-span: 1;
	position: absolute;
	overflow-y: auto;
	overflow-x: auto;
	overscroll-behavior: none;
	transition-duration: 0s;
}

.instant {
	transition-duration: 0s !important;
}

.fast {
	transition: color 0s;
}

.col.right {
	top: 0;
	right: 0;
}

.app {
	column-count: 2;
	column-width: 50%;
	min-height: 100%;
}

.main-vl {
	border-left: 6px solid var(--color);
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0;
}

.fullWidth {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	transition-duration: 0s;
}

.tooltipBox {
	position: relative;
}

.tooltipBox:hover .tooltip {
	opacity: 1;
}

.forceTooltip .tooltip {
	opacity: 1;
	z-index: 999;
}

.respecCheckbox {
	display: inline-block;
	margin-left: 5px;
}

.treeOverlay {
	pointer-events: none;
	overflow: hidden;
}

.overlayThing {
	z-index: 10000;
	pointer-events: auto;
}

.sideLayers {
	z-index: 10000;
	pointer-events: auto;
	position: absolute;
	right: 55px;
	top: 65px;
	background-color: transparent;
	gap: 20px;
}

button>* {
	pointer-events: none;
}

.ghost {
	visibility: hidden;
}

.treeTab td button {
	margin: 0 10px;
}

.bg {
	z-index: -9000;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: transparent;
	top: 0;
}

.bg2 {
	z-index: -9009;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.noBackground {
	background: transparent !important;
	background-image: none !important;
	--background: transparent !important;
}
